.discount {
    position: relative;
    background: rgba(16, 20, 24, 0.7);
    padding: 40px 0;
}

.discount .left,
.discount .right {
    position: absolute;
    top: -40px;
    left: 70px;
}

.discount .right {
    left: unset;
    right: 0px;
}



.title-container {
    margin: 0 auto;
    width: 35%;
    min-width: 400px;
}

.title-container .title {
    color: var(--white-1);
}

.title-container .sub-title {
    color: #FFCE6D;
}

@media screen and (max-width:1000px) {

    .discount .left,
    .discount .right {
        display: none;
    }
}