.newsletter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

.newsletter input {
    background-color: transparent;
    border: 2px solid var(--white-1);
    color: var(--white-1);
    font-weight: 500;
    font-size: 18px;
    outline: none;
    padding: 10px 50px 10px 25px;
    cursor: pointer;
}

.newsletter p {
    display: flex;
    align-items: center;
    gap: 15px;
    color: #FFFFFC;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-transform: capitalize;
}