.straight-from-kitchen {
    padding: 50px 0;
}

.straight-from-kitchen-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
    column-gap: 140px;
}

@media screen and (max-width:1000px) {

    .straight-from-kitchen-content {
        grid-template-columns: 1fr;
    }
}